<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Definitions</title>
    <link href="public/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="public/css/styles.css" rel="stylesheet" type="text/css">
    <script src="public/js/jquery-3.3.1.js"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
